services:
    phantomapi:
        image: miniconnect/phantomapi:0.1.0-SNAPSHOT
        ports: [ "8343:8343" ]
        volumes: [ "./openapi.yaml:/app/openapi.yaml:ro" ]
        environment:
            MICRONAUT_SERVER_CORS_CONFIGURATIONS_ALL_ALLOWED_ORIGINS_0: http://localhost:8080
            OPENAPI_DESCRIPTION_PATH: /app/openapi.yaml
    swagger-ui:
        image: swaggerapi/swagger-ui:latest
        ports: [ "8080:8080" ]
        environment:
            SWAGGER_JSON: /spec/openapi.yaml
        volumes: [ "./openapi.yaml:/spec/openapi.yaml:ro" ]
        depends_on: [ "phantomapi" ]
